
.First {
    background: #F06060;
    color: #f2ede3;
    padding: 20px 78px 179px 78px;
    font-style: italic;
}

.First p {
    font-size: 1.7em;
    line-height: 1.8;
}

.First h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 30px 0 20px 0;
}