body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.bl-main > section {
  position: absolute;
  width: 20%;
  height: 100%;
}

.bl-main > section:first-child {
  background: #F06060;
}

.bl-main > section:nth-child(2) {
  top: 0;
  left: 20%;
  background: #FA987D;
}

.bl-main > section:nth-child(3) {
  top: 0;
  left: 40%;
  background: #72CCA7;
}

.bl-main > section:nth-child(4) {
  top: 0;
  left: 60%;
  background: #10A296;
}

.bl-main > section:nth-child(5) {
  top: 0;
  left: 80%;
  background: #FA987D;
}


.bl-box {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  -webkit-align-items: center;
}

.bl-box .h2 {
  color: #f2ede3;
  text-decoration: none;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.bl-box .h2:hover {
  font-size: 40px;
}

.Home {
  text-decoration: none;
  font-size: 4em;
  margin-left: 93%;
}